/***********
	GENERAL
************/

body {
	font-family: 'Fira Sans', sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

#wrapper {
	max-width: 940px;
	margin: 0 5%;
	padding: 0 5%;
}

/************
HEADING
************/

header {
	float: left;
	margin: 0 0 15px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

h1 {
	font-family: 'Orbitron', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	line-height: 2em;
}

#logo {
	text-align: center;
	margin: 0;
}

/************
GALLERY
************/

#wrapper {
	margin: 0 auto;
}

#gallery h3 {
	font-family: 'Orbitron', sans-serif;
	font-size: 1em;
	color: #a6a6a6;
	margin: 0;
}

#gallery {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
}

#gallery li {
	background-color: #e6e6e6;  
	width: 90%;
	margin: 3% 5%;
	display: inline-block;
}

#gallery li:hover{
	background-color: #ff8433;
}

#gallery li:hover h3, #gallery li:hover p {
	color: #fff;
}

#gallery li a p {
	margin: 0;
	padding: 1%;
	font-size: 0.75em;
	color: #a6a6a6;
	text-transform: uppercase;
}


/************
PAGE: ABOUT
************/

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
}

.about h3 {
	font-family: 'Orbitron', sans-serif;
	margin: 0 0 1em 0;
	text-align: center;
}

.about p {
	font-weight: 100;
}

.about a {
	font-weight: 500;
}

.about a:hover {
	color: #ff8433;
}



/************
FOOTER
************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 50px;
	clear: both;
	color: #666;
}

.social-icon {
	width: 25px;
	height: 25px;
	margin: 0 5px;
}


footer a:hover {
	color: #ff8433;
}


/************
COLOURS
************/

body {
	background-color: #fff;
	color: #999;
}

a {
	color: #999;
}

header {
	background-color: #3366ff;
	border-bottom: 5px solid #ff6600;
}

h1 {
	color: #fff;
}

.title {
	color: #8c8c8c;
}

